{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>
{{ grid(grid, "author/grid_template.html.twig") }}
    <a href="{{ path('author_new') }}">Create new</a>
{% endblock %}